#root {
  margin: 0 auto;
  text-align: center;
}

.top__total {
  font-size: 2rem;
}

.budget-input {
  display: flex;
  gap: 0.5rem;

  & > * {
    border-radius: 5px;
    border: none;
    font-size: 1rem;
  }
  &__select {
    height: 54px;
    width: 10%;
  }
  &__text {
    width: 50%;
  }
  &__number {
    width: 20%;
  }
  &__text,
  &__number {
    padding: 1rem;
  }
  &__button {
    height: 54px;
    cursor: pointer;
    text-transform: uppercase;
    width: 10%;
  }
}
