#root {
  margin: 0 auto;
  text-align: center;
}

.top__total {
  font-size: 2rem;
}

.budget-input {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  @media screen and (min-width: 460px) {
    flex-wrap: nowrap;
  }

  & > * {
    border-radius: 5px;
    border: none;
    font-size: 1rem;
  }
  &__select {
    flex-grow: 1;
    color: black;
    @media screen and (min-width: 460px) {
      min-width: 10%;
    }
  }
  &__text {
    order: -1;
    width: 100%;
    @media screen and (min-width: 460px) {
      order: unset;
    }
  }
  &__number {
    flex-grow: 1;
    @media screen and (min-width: 460px) {
      width: 30%;
    }
  }
  &__text,
  &__number {
    padding: 1rem;
  }
  &__button {
    flex-grow: 1;
    cursor: pointer;
    text-transform: uppercase;
    @media screen and (min-width: 460px) {
      min-width: 10%;
    }
  }
}
